[submodule "credit_classifier"]
	path = credit_classifier
	url = https://github.com/Volynce/credit_classifier.git
[submodule "bank_segmentation_clustering_methods"]
	path = bank_segmentation_clustering_methods
	url = https://github.com/Volynce/bank_segmentation_clustering_methods.git
[submodule "wine_quality_regression_analysis"]
	path = wine_quality_regression_analysis
	url = https://github.com/Volynce/wine_quality_regression_analysis.git
[submodule "ml-portfolio/wine_quality_regression_analysis"]
	path = ml-portfolio/wine_quality_regression_analysis
	url = https://github.com/Volynce/wine_quality_regression_analysis.git
[submodule "ml-portfolio/classification_models_ROC"]
	path = ml-portfolio/classification_models_ROC
	url = https://github.com/Volynce/classification_models_ROC.git
